[Desktop Entry]
Type=Application
Name=qRAE
Name[es]=qRAE
GenericName=Castilian dictionary
GenericName[es]=Diccionario castellano
Comment=Castilian dictionary
Comment[es]=Diccionario castellano
Icon=qrae
Exec=qrae
Categories=Office;Dictionary;
