[Desktop Entry]
Type=Application
Name=qRAE
Name[es]=qRAE
GenericName=RAE dictionary
GenericName[es]=Diccionario de la RAE
Icon=qrae
Exec=qrae
Terminal=false
Categories=Office;Dictionary;
StartupNotify=false
X-GNOME-Autostart-enabled=true
